body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #141328;
    color: white;
}

.flexy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* SLIDESHOW CSS */

.slideshow-container {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.question {
    display: none;
    
}
.question.active {
    display: block;
    
}
.button-container {
    display: flex;
    justify-content: space-between;
  }

/* FANCY ANIMATION CSS 

.breathing-text {
    animation: breathe 4s infinite;
}*/

.glowing-text {
    font-family: "owners-xwide", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 130px;
    color: white;
    /*text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;*/
}

/*@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
}*/

.light-bar-ver {
    width: 20px;
    height: 800px;
    position: fixed;
    left: 10%;
    top: 30;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px #15f4ee, 0 0 30px #15f4ee, 0 0 40px #15f4ee, 0 0 50px #15f4ee; /* Add a glow effect */
    animation: flicker 2s infinite alternate; /* Create a flickering animation */
}

.light-bar-hor {
    width: 1500px;
    height: 20px;
    position: fixed;
    left: 10%;
    top: 12%;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px #15f4ee, 0 0 30px #15f4ee, 0 0 40px #15f4ee, 0 0 50px #15f4ee; /* Add a glow effect */
    animation: flicker 2s infinite alternate; /* Create a flickering animation */
}
@keyframes flicker {
    0% {
        box-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee, 0 0 30px #15f4ee;
    }
    100% {
        box-shadow: 0 0 100px #15f4ee, 0 0 110px #15f4ee, 0 0 120px #15f4ee;
    }
}

.hidden {
    display: none;
}

#title .hidden {
    display: none;
}

.naam {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white; 
    margin-top: -80px;
    
}

.age {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white; 
    margin-top: -80px;
}

.screentime {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white; 
    margin-top: -80px;
    display: flex;
    align-items: center;
}

.calculating {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    color: white; 
    margin-top: -80px;
}