body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #141328;
    color: white;
    overflow: hidden;
}

.flexy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

/* SLIDESHOW CSS */

.slideshow-container {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
}
.question {
    display: none;
    
}
.question.active {
    display: block;
    
}
.button-container {
    display: flex;
    justify-content: space-between;
  }

/* FANCY ANIMATION CSS 

.breathing-text {
    animation: breathe 4s infinite;
}*/

.glowing-text {
    font-family: "owners-xwide", sans-serif;
font-weight: 400;
font-style: normal;
    font-size: 80px;
    color: white;
    /*text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;*/
}

/*@keyframes breathe {
    0%, 100% {
        transform: scale(1);
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0 0 20px white, 0 0 30px white, 0 0 40px white;
    }
}*/

.light-bar-ver {
    width: 20px;
    height: 80vh;
    position: fixed;
    left: 10%;
    top: 10%;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px #15f4ee, 0 0 30px #15f4ee, 0 0 40px #15f4ee, 0 0 50px #15f4ee; /* Add a glow effect */
    animation: flicker 2s infinite alternate; /* Create a flickering animation */
}

.light-bar-hor {
    width: 80vw;
    height: 20px;
    position: fixed;
    left: 10%;
    top: 12%;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px #15f4ee, 0 0 30px #15f4ee, 0 0 40px #15f4ee, 0 0 50px #15f4ee; /* Add a glow effect */
    animation: flicker 2s infinite alternate; /* Create a flickering animation */
}
@keyframes flicker {
    0% {
        box-shadow: 0 0 10px #15f4ee, 0 0 20px #15f4ee, 0 0 30px #15f4ee;
    }
    100% {
        box-shadow: 0 0 100px #15f4ee, 0 0 110px #15f4ee, 0 0 120px #15f4ee;
    }
}

.hidden {
    display: none;
}

#title .hidden {
    display: none;
}

.naam {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white; 
    margin-top: -80px;
}

.question {
    text-align: center;
    padding: 20px;
}

#name {
    width: 100%;
            box-sizing: border-box;
            font-size: 16px;
            border: 2px solid transparent;
            border-image: linear-gradient(to right, white, #15f4ee) 1;
            border-image-slice: 1;
            padding: 10px; /* Adjust the padding as needed */
            color: white; /* Text color */
            background: transparent; /* Transparent background */
            margin-top: 100px; /* Adjust the margin-top value to move it down by your desired amount */
            animation: moveGradient 5s linear infinite; /* Animation to move gradient */
}

@keyframes moveGradient {
    0% {
        border-image-source: linear-gradient(to left, white, #15f4ee);
        background-position: 100% 0;
    }
    
    100% {
        border-image-source: linear-gradient(to right, white, #15f4ee);
        background-position: 100% 0;
    }
}

#nextBtn{
    box-sizing: border-box;
    font-size: 20px;
    font-family: "owners-xwide", sans-serif;
    border: 2px solid #141328; /* Change the border color to white */
    padding: 10px; /* Adjust the padding as needed */
    color: white; /* Text color */
    background: transparent; /* Transparent background */
    position: absolute; /* Position it absolutely */
    top: 80%; /* Center vertically */
    left: 43%; /* Center horizontally */
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.age {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white; 
    margin-top: -80px;
}
 
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 950px; /* Adjust the thumb width as needed */
                          
  }

 /* Style the track */
input[type="range"]::-webkit-slider-runnable-track {
    border: 2px solid transparent;
    border-image: linear-gradient(to right, white, #15f4ee) 1;
    border-image-slice: 1;
    height: 20px;
    margin-top: 70px; /* Adjust the margin-top value to move it down by your desired amount */
  }
  
   /* Style the thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: white;
    height: 2.5rem;
    width: 1rem; 
  }

.slider-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

  /* Style the labels for the slider */
.slider-age {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .slider-value {
    margin-top: 5%;

  }
  
  /* Style individual labels */
  .slider-value {
    font-family: "owners-xwide", sans-serif;
    font-size: 14px;
    color: white; /* Adjust the color as needed */
  }


.screentime {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: white; 
    margin-top: -80px;
    margin-left: 30px;
    display: flex;
    align-items: center;
}


 /* Style the labels for the slider */
 .slider-screen {
    display: flex;
    justify-content: space-between;
    width: 970px;
    position: absolute;
    top: 65%; /* Adjust this value to move the labels down */
  left: 105px; /* Adjust this value to move the labels to the right */
  }
  
  /* Style individual labels */
  .slider-screen span {
    font-family: "owners-xwide", sans-serif;
    font-size: 14px;
    color: white; /* Adjust the color as needed */
  }

  #submitBtn{
    box-sizing: border-box;
    font-size: 20px;
    font-family: "owners-xwide", sans-serif;
    border: 2px solid #141328; /* Change the border color to white */
    padding: 10px; /* Adjust the padding as needed */
    color: white; /* Text color */
    background: transparent; /* Transparent background */
    position: absolute; /* Position it absolutely */
    top: 80%; /* Center vertically */
    left: 43%; /* Center horizontally */
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}

.calculating {
    font-family: "owners-xwide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    color: white; 
    margin-top: 5%;
}

.light-bar-ver2 {
    width: 20px;
    height: 80%;
    position: fixed;
    left: 10%;
    top: 60px;
    background-color: white;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px #15f4ee, 0 0 30px #15f4ee, 0 0 40px #15f4ee, 0 0 50px #15f4ee; /* Add a glow effect */
    animation: flicker 2s infinite alternate; /* Create a flickering animation */
}


  

